body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: #fff;
}

header {
  background-color: #111;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #f9c531;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 500;
}

section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

.btn {
  background-color: #f9c531;
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

footer {
  background-color: #111;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  color: #aaa;
}
